*{
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:110%;
    text-decoration: none;
    color:#fff;
    
}
title{
    display:none;
}
body{
    height:100%;
    width:100%;
    display:block;
    background-color: #003233;
}
.header{
    height:160px;
    width:100%;
    background-color: #002b2c;
    position:relative;
}
.title{
    margin-left:10%;
    margin-right:10%;
}
.hypercars-title,.hypercars-title-one{
    height:8vh;
    width:100%;
    margin-top:15px;
    cursor: pointer;
}


.hypercars-title:hover,.hypercars-title-one:hover {
    opacity:0.7;
    transition:opacity 0.4s;    
}
.hypercars-title-one{
    display:none;
}
.line{
    content:'';
    width:100%;
    height:1px;
    position:absolute;
    top:11vh;
    
    background-color: white;
    
}
.menu{
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    bottom:7px;
    margin-top:5px;
    margin-right:5px;
    width:40px;
    height:40px;
    color:white;
    cursor: pointer;

}
.ul-menu{
    background-color: #003233;
    
   
}
.ul-menu li{
    text-align:center;
    color:#fff;
    border:1px solid #fff;
    
}
.under-header{
    display:block;
    
}
.mustang{
    width:100vw;
    height:25vh;
}


.under-line{
    content:'';
    width:100%;
    height:1px;
    transform:translate(0, -5px);
    
    background-color: white;
    
}
.icon{
    margin-top:20px;
    text-align: center;
    

}
.facebook,.instagram{
    color:#fff;
}

.full-menu{
    position:absolute;
    top:1.5vh;
    right:0;
    display:none;
    font-size:80%;
    margin-right:10px;
}
.full-menu li{
    display:inline-block;
    color:#fff;
    height:4vh;
    margin-left:10px;
    
}
.full-menu li a:hover{
    color:rgb(131, 130, 130);
    transition: 0.2s color; 
}
.full-menu .facebook, .full-menu .instagram{
    transform: translate(0, 4px)
}
.facebook:hover,.instagram:hover{
    color:rgb(131, 130, 130);
    transition: 0.2s color; 
}
/*#003233,#13A1D1*/